<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="/css/aggregate.css">
</head>
<body>
    
     <table>
         <thead>
             <tr>
                 <th>SUM</th>
                 <th>MAX</th>
                 <th>AVERAGE</th>
                 <th>MIN</th>
                 <th>TOTAL</th>
             </tr>
         </thead>
         <tbody>
            <% data.forEach(pers => {  %> 
             <tr>
                 <td> <%= pers.Sum%></td>
                 <td> <%= pers.Max%></td>
                 <td> <%= pers.Average%></td>
                 <td> <%= pers.Min%></td>
                 <td> <%= pers.Total%></td>
             </tr>
             <% }); %> 
         </tbody>
     </table>

</body>
</html>