<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="/css/bmiCalc.css">
</head>
<body>

     <table>
         <thead>
             <tr>
                 <th>Firstname</th>
                 <th>Lastname</th>
                 <th>Weight</th>
                 <th>Height</th>
                 <th>Actions</th>
             </tr>
         </thead>
         <tbody>
            <% data.forEach(pers => {  %> 
             <tr>
                 <td> <%= pers.frst_nm%></td>
                 <td> <%= pers.last_nm%></td>
                 <td> <%= pers.weight%></td>
                 <td> <%= pers.height%></td>
                 <td>
                     <button><a href="/bmi/<%= pers.id %>">BMI</a></button>
                 </td>
             </tr>
             <% }); %> 
         </tbody>
     </table>

</body>
</html>